/* header css */
.Header-bg{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.Header-py li{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.Header-py a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.Header-py button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #388087;
}
/* header h1*/
.h1-py{
    cursor: pointer;
    color: white;
    font-size: xx-large;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #151617;
}

.cta button{
    padding: 9px 25px;
    background-color: rgb(121, 125, 126);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: medium;
}

.cta button:hover{
    background-color: rgba(0,136,169,0.8);
}

/*main css*/
Body{
    align-content: center;
    justify-content: center;
    text-align: center;
}


/*talk page*/
.talk_css{
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.stopbtn{
    padding: 15px 25px;
    background-color: rgb(121, 125, 126);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: medium;
}

.stopbtn:hover{
    background-color: rgba(0,136,169,0.8);
}

/* footer */
footer{
    background-color: black;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;  
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerButton{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerButton p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}